<section class="main">
<h1>Add an item</h1>
<form action="/items" method="post">
    <label for="">Name</label>
    <input type="text" name="name" placeholder="e.g. guitar">
    <label for="">Variant</label>
    <input type="text" name="variant" placeholder="e.g. brown">
    <label for="">Category</label>
    <input type="text" name="tag" placeholder="e.g. musical instrument">
    <label for="">Quantity</label>
    <input type="numeric(10,2)" name="quantity">
    <label for="">Purchase date</label>
    <input type="date" name="purchase_date">
    <label for="">Expiry date</label>
    <input type="date" name="expiry_date">
    <label for="">image url</label>
    <input type="text" name="image_url" placeholder="http://...">
    
    <button class="btn btn-secondary">Add</button>

</form>
</section>