<h1>Register:</h1>
<form action="/users" method="post">
    <div><label for="">Email: </label>
    <input type="text" name="email"></div>
    
    <div><label for="">Password: </label>
    <input type="password" name="password"></div>

    <button>Submit</button></div>
</form>